<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movie Index</title>
  <link href="styles.css" media="screen" rel="stylesheet"/>
</head>
<body>
  <h3>Movies</h3>

  <table>
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>

      <% @titles.each do |k,v| %>
      <tr>
        <td>
          <a href="<%= url("/movies/#{k}") %>">
            <%= "#{v}" %>
          </a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>

